<!DOCTYPE html>
<html>

<head>
    <title>Contact Page</title>

</head>
<body>
  <p> Contact <%= q.type %> </p>
      <form id="contactform" method="POST" action="/contact">
  <label for ="who">Who do you want contact </label>
  <input type="tetext" name="who" value="<%= q.name %>" />
  <label for ="email">Your Email </label>
  <input type="tetext" name="email"/>
  <input type="submit" value="submit" />
      </form>
</body>
</html>
