<!DOCTYPE html>
<html>

<head>
    <title>Post : <%= post_data.title %></title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

<%- include('partials/nav.ejs') %>
 Post ID : <%= post_id %>
 Body= <%= post_data.content %>



</body>
</html>
